* { box-sizing: border-box; }

body, th, td, button {
    font-size: 20px;
}

body {
    margin: 1em;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
    border: 1px solid #aaa;
    text-align: center;
}

th:first-child, td:first-child {
    text-align: left;
}

input[type="checkbox"] {
    font-size: 2em;
}